@using DAL.Data
@model UserViewModel
@inject AppDbContext _context;

@{
    var userOrders = ViewBag.UserOrders as List<OrderViewModel>;
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="container">
    <div class="profile-header text-center">
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="~/img/@Model.Photo" alt="Profile Photo" class="profile-photo" />
        }
        else
        {
            <img src="https://via.placeholder.com/150" alt="Profile Photo" class="profile-photo" />
        }
        <h1>@Model.FirstName @Model.LastName</h1>
        <p>@Model.Username</p>
        <p><strong>Birth Date:</strong> @Model.BirthDate.ToString("dd MMMM yyyy")</p>

        <!-- Fotoğraf Ekleme Formu -->
        <form asp-action="UpdatePhoto" method="POST" enctype="multipart/form-data">
            <div class="mb-3 ">
                <input asp-for="Id" name="userId" hidden />
                <input asp-for="Photo" name="photo" type="file" class="form-control w-25 d-inline-block" id="photo" required>
                <button type="submit" class="btn btn-success mt-3" id="saveButton">Save</button>
            </div>
        </form>
        <a class="btn btn-primary" asp-route-id="@Model.Id" asp-controller="User" asp-action="PasswordChange">PasswordChange</a>
    </div>

    <div class="profile-info">
        <h4>About</h4>
        <p>@Model.FirstName @Model.LastName's Profile Page</p>
    </div>
    <a class="btn btn-success w-25">Pending Orders</a>
    
    <hr />
    <!-- Sipariş Geçmişi -->
    <div class="order-history">
        <h4 class="text-center">Order History</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Order Date</th>
                        <th>Total Price</th>
                        <th>Is Active</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in userOrders)
                    {
                        <tr>
                            <td>@order.OrderDate.ToString("dd MMM yyyy")</td>
                            <td>@order.TotalPrice.ToString("C")</td>
                            <td>@order.IsActive</td>
                            <td>
                                <a asp-action="UserOrderDetails" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-info btn-sm">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
